## 作業
在鐵達尼資料集中，   
可以用今天範例中提到的三種辨識異常值的方法，  
以 training data 為資料集。  
1.觀察票價是否有異常值的現象?  
2.你覺得找出的異常是真的異常? 你覺得需要做處理嗎?  
(試著講出自己的想法。)

### 資料
鐵達尼號 train 資料集

In [2]:
# library
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn  as sns
from scipy import stats
import math
import statistics
#讓圖可以在 jupyter notebook顯示
%matplotlib inline

In [3]:
df_train = pd.read_csv("Titanic_train.csv")

### 探索性分析:
*  觀察-是否有異常值  
我們來觀察一下 Fare 變數吧!!

## Q1:觀察票價是否有異常值的現象?

## 方法1
* 進行一個描述性的統計（規定範圍），從而檢視哪些值是不合理的（範圍以外的值）。

In [4]:
df_train["Fare"].describe()

count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64

## 方法 2
* 進行3倍標準差原則的計算，從而檢視哪些值是可疑的異常值。

In [18]:
def outliers_z_score(ys,times):
    mean_y = np.mean(ys)
    stdev_y = np.std(ys)
    z_scores = [(y - mean_y) / stdev_y for y in ys]
    return np.where(np.abs(z_scores) > times)

z_outlier = outliers_z_score(df_train["Fare"], 3)
#print(z_outlier[0])
print(df_train.loc[z_outlier[0], ["PassengerId", "Name", "Fare", "Cabin"]])

     PassengerId                                               Name      Fare  \
27            28                     Fortune, Mr. Charles Alexander  263.0000
88            89                         Fortune, Miss. Mabel Helen  263.0000
118          119                           Baxter, Mr. Quigg Edmond  247.5208
258          259                                   Ward, Miss. Anna  512.3292
299          300    Baxter, Mrs. James (Helene DeLaudeniere Chaput)  247.5208
311          312                         Ryerson, Miss. Emily Borie  262.3750
341          342                     Fortune, Miss. Alice Elizabeth  263.0000
377          378                          Widener, Mr. Harry Elkins  211.5000
380          381                              Bidois, Miss. Rosalie  227.5250
438          439                                  Fortune, Mr. Mark  263.0000
527          528                                 Farthing, Mr. John  221.7792
557          558                                Robbins, Mr. Victor  227.5250
679          680                 Cardeza, Mr. Thomas Drake Martinez  512.3292
689          690                  Madill, Miss. Georgette Alexandra  211.3375
700          701  Astor, Mrs. John Jacob (Madeleine Talmadge Force)  227.5250
716          717                      Endres, Miss. Caroline Louise  227.5250
730          731                      Allen, Miss. Elisabeth Walton  211.3375
737          738                             Lesurer, Mr. Gustave J  512.3292
742          743              Ryerson, Miss. Susan Parker "Suzette"  262.3750
779          780  Robert, Mrs. Edward Scott (Elisabeth Walton Mc...  211.3375

               Cabin
27       C23 C25 C27
88       C23 C25 C27
118          B58 B60
258              NaN
299          B58 B60
311  B57 B59 B63 B66
341      C23 C25 C27
377              C82
380              NaN
438      C23 C25 C27
527              C95
557              NaN
679      B51 B53 B55
689               B5
700          C62 C64
716              C45
730               B5
737             B101
742  B57 B59 B63 B66
779               B3

## 方法3-盒鬚圖判別法(IQR method)

In [19]:
def outliers_box(ys, times):
    quartile_1, quartile_3 = np.nanpercentile(ys, [25, 75])
    iqr = quartile_3 - quartile_1
    lower_bound = quartile_1 - (iqr * times)
    upper_bound = quartile_3 + (iqr * times)
    return np.where((ys > upper_bound) | (ys < lower_bound))

box_outlier = outliers_box(df_train["Fare"], 1.5)
print(df_train.loc[box_outlier[0], ["PassengerId", "Name", "Fare", "Cabin"]])

     PassengerId                                               Name      Fare  \
1              2  Cumings, Mrs. John Bradley (Florence Briggs Th...   71.2833
27            28                     Fortune, Mr. Charles Alexander  263.0000
31            32     Spencer, Mrs. William Augustus (Marie Eugenie)  146.5208
34            35                            Meyer, Mr. Edgar Joseph   82.1708
52            53           Harper, Mrs. Henry Sleeper (Myna Haxtun)   76.7292
..           ...                                                ...       ...
846          847                           Sage, Mr. Douglas Bullen   69.5500
849          850       Goldenberg, Mrs. Samuel L (Edwiga Grabowska)   89.1042
856          857         Wick, Mrs. George Dennick (Mary Hitchcock)  164.8667
863          864                  Sage, Miss. Dorothy Edith "Dolly"   69.5500
879          880      Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)   83.1583

           Cabin
1            C85
27   C23 C25 C27
31           B78
34           NaN
52           D33
..           ...
846          NaN
849          C92
856          NaN
863          NaN
879          C50

[116 rows x 4 columns]

## Q2:你覺得找出的異常是真的異常? 你覺得需要做處理嗎?

In [ ]:
# 從Ｃabin觀察可發現有些資料具備多個位子，因此Fare可能是因為多個位子才數字較大，需要另外分群處理